<div>
	<ul>
		<% if @restaurants.any? %>
		  <% @restaurants.each do |restaurant| %>
		    <li class='restaurant'>

		    	<!-- restaurant name and cuisine -->
		    	<%= restaurant.name %> (<%= restaurant.cuisine %>)<br>
		    	
		    	<!-- reviews -->
	    		<ul class='reviews'>
	    			<% restaurant.reviews.each do |review| %>
	    			<li><%= review.thoughts %> (<%= star_rating review.rating %>)</li>
	    			<% end %>
	    		</ul>

	    		<!-- average rating -->
		    	<p>
			    	Average rating:
			    	<span class='average_rating'>
			    		<%= star_rating(restaurant.average_rating) %>
			    	</span>
			    	<span class ='review_count'>
			    		(<%= restaurant.reviews.count %> reviews)
			    	</span>
		    	</p>

		    	<!-- edit and delete -->
					<% if user_signed_in? %>
						<%= link_to "Edit #{restaurant.name}", edit_restaurant_path(restaurant.id) %><br>
						<%= link_to "Delete #{restaurant.name}", restaurant_path(restaurant.id), method: :delete, 'data-confirm' => "Are you sure you want to delete #{restaurant.name}?" %><br>
					<% end %>

					<!-- review form -->
					<% if user_signed_in? %>
						<%= form_for [restaurant, @review] do |form| %>
							<%= form.label :thoughts %>
							<%= form.text_area :thoughts %>

							<%= form.label :rating %>
							<%= form.select :rating, 1..5 %>

							<%= form.submit %>
						<% end %>
					<% end %>
				</li>

		  <% end %>
		<% else %>
		  <h1>No restaurants yet</h1>
		<% end %>
	</ul>
</div>

<div>
	<%= link_to 'Create restaurant', new_restaurant_path %>
</div>